@media (max-width: 768px) {
    .header {
        display: none;
    }
}


.header {
    padding: 25px 0 13px;
    background: var(--main-bg);
}
.border {
    border-bottom: 1px solid var(--grey-2);
}
.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--text-title);
    margin: 0;
    margin-bottom: 40px;
}
.header__components {
    display: flex;  
    justify-content:space-between;
    align-items: center;
    margin-bottom: 40px;
}
.header__icon {
    width: 110px;
    height: 32px;
    color: var(--font-color);
}
.header__menu {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    margin-right: 57px;
}

.header__menu a:nth-child(2) {
    margin-left: 24px;
    margin-right: 24px;
}
.menu__link {
    text-decoration: none;
    color: var(--grey-3);
}
.menu__link:hover {
    color: var(--link-color);
}

.header__toggler {
    display: flex;
}
.toggler__state {
    margin: 0 15px 0 15px !important;

}
.pageComponents {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.headerComponents {
    padding: 0;
    height: 82px;
    
}


