/* Стилизация кнопки */
.btn {
    position:relative;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    color: var(--white);
    padding: 15px 30px 14px 30px;
    box-shadow:
    0 1px rgba(255,255,255,.2) inset,
    0 3px 5px rgba(0,1,6,.5),
    0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    
}

.btn_primary {
    background-color: var(--primary);    
    
}
.btn_secondary {
    background-color: var(--secondary);    
}
.btn_alternate {
    background-color: var(--second-bg);
    color: var(--grey-4);
    border: 1px solid #acb5bd;
}
.btn_disabled {
    opacity: 0.5;
    pointer-events: none;
}
.btn_primary:hover {
    background-color: #2342c0;
}
.btn_secondary:hover {
    background-color: #5028c6;
}
.btn_alternate:hover {
    border-color: #212429;
}
.btn_primary:active {
    top: 2px;
    box-shadow:
    0 0 1px rgba(0,0,0,.5) inset,
    0 2px 3px rgba(0,0,0,.5) inset,
    0 1px 1px rgba(255,255,255,.1);
    background-color: rgb(3, 3, 138);
}
.btn_secondary:active {
    top: 2px;
    box-shadow:
    0 0 1px rgba(0,0,0,.5) inset,
    0 2px 3px rgba(0,0,0,.5) inset,
    0 1px 1px rgba(255,255,255,.1);
    background-color: rgb(3, 3, 138);
}
.btn_alternate:active {
    top: 2px;
    box-shadow:
    0 0 1px rgba(0,0,0,.5) inset,
    0 2px 3px rgba(0,0,0,.5) inset,
    0 1px 1px rgba(255,255,255,.1);
    background-color:  #acb5bd;
}    

