
@import "../../Var/variables.scss";
@import "../../Var/mixins.scss";

.component-footer__text {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include font(12px, normal, 500, 18px, var(--grey-3));
    margin: 92px 0 56px 0;

}
