/* Стилизация аккордеона */
.accord {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
border: 1px solid #ACB5BD;
width: 730px;
border-radius: 8px;
margin-bottom: 8px;
}
.accord:last-child {
    margin-bottom: 0;
}

.accord_item {
    font-family: Inter, sans-serif;
    color: var(--black);
    padding: 24px 535px 24px 32px;
    display: block;
}
.accord_item::-webkit-details-marker {
    display: none;
}
.accord_text {
    font-family: Inter, sans-serif;
    color: var(--grey-4);
    margin: 0;
    padding: 0 48px 32px 32px;
    margin-top: -8px;
}