.pageHistogram {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header {
    padding: 0;
    height: 82px;
    
}
.main {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.component__name {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}
.main__component {
    margin-left: 104px;
    margin-top: 68px;
    height: 714px;
}
.main__navi {
    margin-top: 36px;;
}
.footer {
    margin: 92px 0 56px 0;
}
.navi__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.navi__links {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
}
.navi__link {
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
    color: var(--black);
}
.navi__link:last-child {
    margin-top: 26px;
}
.navi__link:nth-child(2) {
    color:  #D84910;
}
.navi__link:hover {
    color: var(--grey-4);
}