  .toggler{
    display: inline-block;
    position: relative;
  }
  .toggler__input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
  .toggler__state {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 18px;
  }
  .toggler__control {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    transition: all 300ms linear;
  }
  .toggler__icon {
    margin-left: 2px;
    color: var(--grey-2);
    transition: all 300ms linear;
    
  }
  .toggler__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  }
  .toggler__input:checked ~ .toggler__state .toggler__control {
    background: var(--blue-2);
    border: 1px solid var(--blue-2);
  }
  .toggler__input:checked ~ .toggler__state .toggler__icon {
    color: var(--white);
    margin-left: auto;
    margin-right: 25px;
    transform: translateX(25px);
    
  }
  .toggler__input:focus ~ .toggler__state .toggler__title {
    text-decoration: underline;
  }
  .toggler__input:hover ~ .toggler__state .toggler__title {
    color: var(--black);
  }
  .toggler__input:disabled + .toggler__state {
    pointer-events: none;
  }
  .toggler__input:disabled + .toggler__state .toggler__title {
    color: var(--grey-2);
  }
  .toggler__input:disabled + .toggler__state .toggler__control {
    background: var(--grey-2);
  }
  .toggler__input:disabled + .toggler__state .toggler__icon {
    color: var(--grey-3);
  }
  .toggler__input:disabled + .toggler__state .toggler__title::before {
    content: none;
  }
  .toggler__state .toggler__title:before {
    content: "Off";
  }
  .toggler__input:checked ~ .toggler__state .toggler__title:before {
    content: none;
  }
  .toggler__input:checked ~ .toggler__state .toggler__title:after {
    content: "On";
  }