@import "../../Var/variables.scss";
@import "../../Var/mixins.scss";
  
  .toggler{
    display: inline-block;
    position: relative;

    &__input {
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
      
    }
    &__state {
      display: flex;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      margin-bottom: 18px;
    }
    &__control {
      width: 52px;
      height: 28px;
      background: var(--white);
      border: 1px solid var(--grey-2);
      box-sizing: border-box;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      transition: all 300ms linear;
    }
    &__icon {
      margin-left: 2px;
      color: var(--grey-2);
      transition: all 300ms linear;
      
      
    }
    &__title {
    font-family: 'Inter', sans-serif;
    @include font(16px, normal, 400, 24px, var(--grey-4));
    
    }
    &__input:checked ~ &__state &__control {
      background: var(--blue-2);
      border: 1px solid var(--blue-2);
    }
    &__input:checked ~ &__state &__icon {
      color: var(--white);
      transform: translateX(24px);
      
    }
    &__input:focus ~ &__state &__title {
      text-decoration: underline;
    }
    &__input:hover ~ &__state &__title {
      color: var(--black);
    }
    &__input:disabled + &__state {
      pointer-events: none;
    }
    &__input:disabled + &__state &__title {
      color: var(--grey-2);
    }
    &__input:disabled + &__state &__control {
      background: var(--grey-2);
    }
    &__input:disabled + &__state &__icon {
      color: var(--grey-3);
    }
    &__input:disabled + &__state &__title::before {
      content: none;
    }
    &__state &__title:before {
      content: "Off";
    }
    &__input:checked ~ &__state &__title:before {
      content: none;
    }
    &__input:checked ~ &__state &__title:after {
      content: "On";
    }
  }
  