.toggler__header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
  }
  .toggler{
    display: inline-block;
    position: relative;
    margin-bottom: 18px;
  }
  .toggler__input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
  .toggler__state {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
  }
  .toggler__control {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .toggler__icon {
    margin-left: 2px;
    color: var(--grey-2);
    /* transition: transform 200ms lenear; */
  }
  .toggler__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  }
  .toggler__input:checked ~ .toggler__state .toggler__control {
    background: var(--blue-2);
    border: 1px solid var(--blue-2);
    box-sizing: border-box;
    border-radius: 16px;
    align-items: flex-end;
  }
  .toggler__input:checked ~ .toggler__state .toggler__icon {
    color: var(--white);
    margin-right: 2px;
  }
  .toggler__input:focus ~ .toggler__state .toggler__title {
    text-decoration: underline;
  }
  .toggler__input:hover ~ .toggler__state .toggler__title {
    color: var(--black);
  }
  .toggler__title_disabled {
    color: var(--grey-2);
  }
  .toggler__state_disabled {
    display: flex;
    align-items: center;
    gap: 12px;
    pointer-events: none;
  }
  .toggler__control_disabled {
    background-color: var(--grey-2);
    width: 52px;
    height: 28px;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  .toggler__control_disabled .toggler__icon {
    color: var(--grey-3);
  }
  
  .toggler__state .toggler__title:before {
    content: "Off";
   
  }
  .toggler__input:checked ~ .toggler__state .toggler__title:before {
    content: none;
  }
  
  .toggler__input:checked ~ .toggler__state .toggler__title:after {
    content: "On";
  }