.histogram__header {
    display: flex;
    justify-content: space-between;
}
.histogram {
    font-family: 'Inter', sans-serif;
    width: 300px;
    border: 1px solid;
    border-color: var(--grey-3);
    border-radius: 8px;
    background-color : var(--white);
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
    
}
.histogram__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: rgba(33, 36, 41, 0.8);
}
.histogram__counter {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    margin: 0;
    padding-top: 6px;
    margin-bottom: 39px;
    color: var(--black);
}
.histogram__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--blue-2);
    padding-top: 3px;
    background: var(--white);
    margin: 0;
    text-decoration: none;
}
.histogram__bars {
    display: flex;
    gap: 1px;
    align-items: flex-end;
    justify-content: stretch;
    height: 50px;
    width: 100%;
    animation: appear 600ms ease-out;
}
@keyframes appear {
    0% {
        transform: scaleY(0);
        transform-origin: bottom;        
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
}
.histogram__bar {
    background: var(--blue-2);
    flex: 1 0 auto;
}
.histogram__bar_1 {
    height: 100%;
}
.histogram__bar_2 {
    height: 70%;
}
.histogram__bar_3 {
    height: 44%;
}
.histogram__bar_4 {
    height: 78%;
}
.histogram__bar_5 {
    height: 44%;
}
.histogram__bar_6 {
    height: 60%;
}
.histogram__bar_7 {
    height: 78%;
}
.histogram__bar_8 {
    height: 100%;
}
.histogram__bar_9 {
    height: 22%;
}
.histogram__bar_10 {
    height: 44%;
}
.histogram__bar_11 {
    height: 60%;
}
.histogram__bar_12 {
    height: 70%;
}
.histogram__bar_13 {
    height: 22%;
}
.histogram__bar_14 {
    height: 100%;
}
.histogram__bar_15 {
    height: 22%;
}
.histogram__bar_16 {
    height: 78%;
}
.histogram__bar_17 {
    height: 70%;
}
.histogram__bar_18 {
    height: 44%;
}
.histogram__bar_19 {
    height: 70%;
}
.histogram__bar_20 {
    height: 60%;
}
.histogram__bar_21 {
    height: 22%;
}
.histogram__bar_22 {
    height: 78%;
}
.histogram__bar_23 {
    height: 70%;
}
.histogram__bar_24 {
    height: 90%;
}
.histogram__bar_25 {
    height: 60%;
}
.histogram__bar_26 {
    height: 22%;
}
.histogram__bar_27 {
    height: 60%;
}
.histogram__bar_28 {
    height: 22%;
}
.histogram__bar_29 {
    height: 70%;
}
.histogram__bar_30 {
    height: 34%;
}
  