.pageComponents {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.headerComponents {
    padding: 0;
    height: 82px;
    
}
.mainComponents {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.component__name {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}
.mainComponents__component {
    margin-left: 104px;
    margin-top: 68px;
    height: 714px;
}
.mainComponents__navi {
    margin-top: 36px;;
}
.footerComponent {
    margin: 92px 0 56px 0;
}
.footer__text_component {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}
.navi__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.navi__links {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
    white-space: nowrap;
}
.navi__link {
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
    color: var(--black);
}

.navi__link:last-child {
    margin-top: 26px;
}

.navi__link:hover {
    color: var(--grey-4);
}
.navi__link:active{
    color: red;
}

.main__component_form {
    display: flex;
    gap: 160px;
    flex-wrap: nowrap;
}
.checkbox, .radio, .toggler {
    display: block !important
}
.toggler__state {
    margin-bottom: 18px !important;
}
.radio__state {
    margin-bottom: 18px !important;
}
.input:nth-child(2n+1) {
    margin-left: 0 !important;
}