@import './normalize.css';
@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/preview/preview.css';
@import '../../components/navigation/navigation.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: hsl(339, 88%, 74%);
    --purple: #7048E8;
    --blue: #374FC7;
    --navy: #334D6E;
    --blue-2: #4263eb;
    --navy: #334d6e;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90a0b7;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --main-bg: var(--white);
    --font-color: var(--black);
    --text-primary: var(--black);
    --text-calendar: var(--navy);
    --text-title: var(--black);
    --link-color: var(--black);
    --second-bg: var(--white);
}

.body {
    font-family: 'Roboto', sans-serif;
}
.main {
    background: #F9FAFC;
    
}
html, body {
    height: 100%;
}
html[data-theme-dark]{
    background: var(--grey-4);
    --main-bg: var(--black);
    --font-color: var(--white);
    --text-primary: var(--grey-3);
    --text-calendar: var(--grey-3);
    --text-title: var(--grey-5);
    --link-color: var(--grey-2);
    --second-bg: var(--grey-5);
}



