
.tooltip {
    display: inline-flex;
    position: relative;    
}
.tooltip__icon {
    width: 24px;
    height: 24px;
    background-image: url(./tooltip__icon.svg);
}
.tooltip__bubble {
    position: absolute;
    color: var(--grey-2);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    background: #4263EB;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #2124290D;
    padding: 13px 21px 8px 21px;
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
}
.tooltip__bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 8px solid transparent;
    border-top: 6px solid #4263EB;
    transform: translateX(-50%);
}
.tooltip:hover .tooltip__bubble {
    visibility: visible;
    opacity: 1;
}