@media (max-width: 768px){
    .footer {   
        font-family: 'Inter', sans-serif;
        font-style: normal; 
        text-align: center;
        color: var(--text-primary);
        background: var(--main_bg);
    }
    .footer__title {
        font-weight: 500;
        font-size: 38px;
        line-height: 48px;
        margin: 0;
        padding: 72px 0 32px;
        
    }
    .footer__text {
        
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto;
        padding: 0 16px 136px 16px; 
    } 
}

@media (min-width: 769px){
.footer {   
    font-family: 'Inter', sans-serif;
    font-style: normal; 
    text-align: center;
    color: var(--text-primary);
    background: var(--main_bg);
}
.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin: 0;
    padding: 72px 0 32px;
    
}
.footer__text {
    width: 640px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 136px; 
}
.footerComponent {
    margin: 92px 0 56px 0;
}
.footer__text_component {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}
}