
.checkbox {
    display: inline-block;
}
.checkbox__input {
    visibility: hidden;
    width: 0;
    height: 0;
    outline: none;
}
.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.checkbox__control {
    background: var(--white);
    border: 1px solid;
    border-color: var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue-2);
    border-color: var(--blue-2);
     
}
.checkbox__animation {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background: var(--blue-2);
    border-color: var(--blue-2);
    opacity: 0;
    position: absolute;
    
}
.checkbox__input:checked + .checkbox__animation {
    animation: round 300ms ease-out;
}
@keyframes round {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    25% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    50% {
        transform: scale(2);
        opacity: 0.3;
    }
    75% {
        transform: scale(2.5);
        opacity: 0.2;
    }
    100% {
        transform: scale(3);
        opacity: 0.1;
    }
}
.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title  {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state   {
    pointer-events: none;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__title:before {
    content: none;
}
.checkbox__title:before {
    content: "Default";
}
.checkbox__input:checked ~ .checkbox__state .checkbox__title:before {
    content: none;
}
.checkbox__input:checked ~ .checkbox__state .checkbox__title:after {
    content: "Checked";
}