.checkbox {
    display: inline-block;
}
.checkbox__input {
    visibility: hidden;
    width: 0;
    height: 0;
    outline: none;
    position: absolute;
}
.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 16px;
}
.checkbox__control {
    background: var(--white);
    border: 1px solid;
    border-color: var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue-2);
    border-color: var(--blue-2);
}
.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title  {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state   {
    pointer-events: none;
}

