@import "../../Var/variables.scss";
@import "../../Var/mixins.scss";

.burger-menu {
    padding: 16px;

    @media  screen and ($media) {
        display: none;
    }

    &__bar {
        box-sizing: border-box;    
        padding: 16px;
        position:fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100vw);
        transition: transform 200ms ease-in-out;
        background: var(--white);
        z-index: 1;
    }
    &__bar[data-open] {
        transform: translateX(0);
    }
    &__logo {
        position: absolute;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    &__logo_close {
        top: 42px;
    }
    
    &_open  {
        border: none;
        background: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &_open:active {
        opacity: 0.5;
    }
    
    &_close {
        background-color: var(--grey-2);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }
    &_close:active {
        transition: 250ms;
        transform: rotate(180deg);
    }
    &__mode {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--grey-2);
        border-bottom: 1px solid var(--grey-2);
        padding-top: 24px ;
        padding-bottom: 24px;
    }
    &__title {
        margin: 0;
        margin-top: 24px;
        font-family: 'Inter', sans-serif;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 20px;
        // line-height: 26px;
        // color: var(--grey-3);
        @include font(20px, normal, 400, 26px, var(--grey-3));
    } 
    &__element, &__container  {
        font-family: 'Inter', sans-serif;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 16px;
        // line-height: 1.5rem;
        // color: var(--black);
        @include font(16px, normal, 400, 1.5rem, var(--black));
        text-decoration: none;
        
    }
    &__element:active {
        color: rgba(216, 73, 16, 1);
    }
    &__container:active {
        color: rgba(216, 73, 16, 1);
    }
    &__list {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }
    &__navi {
        border-bottom: 1px solid var(--grey-2);
    }
    &__item {
        padding-bottom: 1rem;
    }
    
}

.mode__name:before {
    content: "Dark mode";
}
.mode__name {
    font-family: 'Inter', sans-serif;
    // font-style: normal;
    // font-weight: normal;
    // font-size: 16px;
    // line-height: 24px;
    // color: var(--grey-4);
    @include font(16px, normal, 400, 24px, var(--grey-4));
    margin: 0;
}   

